<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WATERFO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://0x0.st/-7MD.png" />

</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://0x0.st/-7Mw.png" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Inicio
            </a>
      
            <a class="navbar-item">
              Eventos
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Más
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Acerca de
                </a>
                <a class="navbar-item">
                  Empleos
                </a>
                <a class="navbar-item">
                  Contacto
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Hacer un reporte
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link">
                  <strong>Crear cuenta</strong>
                </a>
                <a class="button is-light">
                  Iniciar sesión
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {%block body%}
    {%endblock%}
</body>
</html>